In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('house_data.csv')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
df.drop(['id', 'date','sqft_above','waterfront','yr_renovated','zipcode','lat', 'long', 'sqft_living15', 'sqft_lot15','sqft_basement'], axis=1, inplace=True)

In [6]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,yr_built
0,221900.0,3,1.00,1180,5650,1.0,0,3,7,1955
1,538000.0,3,2.25,2570,7242,2.0,0,3,7,1951
2,180000.0,2,1.00,770,10000,1.0,0,3,6,1933
3,604000.0,4,3.00,1960,5000,1.0,0,5,7,1965
4,510000.0,3,2.00,1680,8080,1.0,0,3,8,1987

In [7]:
df.shape

(21613, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        21613 non-null  float64
 1   bedrooms     21613 non-null  int64
 2   bathrooms    21613 non-null  float64
 3   sqft_living  21613 non-null  int64
 4   sqft_lot     21613 non-null  int64
 5   floors       21613 non-null  float64
 6   view         21613 non-null  int64
 7   condition    21613 non-null  int64
 8   grade        21613 non-null  int64
 9   yr_built     21613 non-null  int64
dtypes: float64(3), int64(7)
memory usage: 1.6 MB

In [9]:
df.isnull().sum()

price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
view           0
condition      0
grade          0
yr_built       0
dtype: int64

In [10]:
df.loc[df.duplicated()]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,yr_built
3951,550000.0,4,1.75,2410,8447,2.0,3,4,8,1936
4352,259950.0,2,2.00,1070,649,2.0,0,3,9,2008
14983,585000.0,3,2.50,2290,5089,2.0,0,3,9,2001
17242,629950.0,3,2.50,1680,1683,2.0,0,3,9,2014
20054,555000.0,3,2.50,1940,3211,2.0,0,3,8,2009
20524,529500.0,3,2.25,1410,905,3.0,0,3,9,2014
21474,359800.0,5,2.50,2170,2752,2.0,0,3,8,2014
21534,599000.0,3,1.75,1650,1180,3.0,0,3,8,2014

In [11]:
df.drop_duplicates(inplace = True)

In [12]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, view, condition, grade, yr_built]
Index: []

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21605 entries, 0 to 21612
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        21605 non-null  float64
 1   bedrooms     21605 non-null  int64
 2   bathrooms    21605 non-null  float64
 3   sqft_living  21605 non-null  int64
 4   sqft_lot     21605 non-null  int64
 5   floors       21605 non-null  float64
 6   view         21605 non-null  int64
 7   condition    21605 non-null  int64
 8   grade        21605 non-null  int64
 9   yr_built     21605 non-null  int64
dtypes: float64(3), int64(7)
memory usage: 1.8 MB

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
x = df.drop(['price'], axis = 1)
y = df['price']

In [16]:
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,yr_built
0,3,1.00,1180,5650,1.0,0,3,7,1955
1,3,2.25,2570,7242,2.0,0,3,7,1951
2,2,1.00,770,10000,1.0,0,3,6,1933
3,4,3.00,1960,5000,1.0,0,5,7,1965
4,3,2.00,1680,8080,1.0,0,3,8,1987

In [17]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 0)

In [19]:
lr = LinearRegression()

In [20]:
lr.fit(X_train, y_train)

LinearRegression()

In [21]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((15123, 9), (6482, 9), (15123,), (6482,))

In [22]:
y_train = y_train.values.reshape(-1,1)
y_test = y_test.values.reshape(-1,1)

In [23]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((15123, 9), (6482, 9), (15123, 1), (6482, 1))

In [24]:
lr.score(X_test, y_test)

0.6489489737064911

In [25]:
y_train_pred = lr.predict(X_train)
y_train_pred

array([391181.73159929, 661970.74400587, 485688.53245438, ...,
       546667.73467474, 378165.75470532, 494557.77119184])

In [26]:
y_pred = lr.predict(X_test)
y_pred

array([546848.18396724, 603124.66583675, 246866.32579628, ...,
       437051.28411239, 304442.32583415, 224973.45729816])

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train) # study & exam
X_test_std = sc.transform(X_test)

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
rf_tree = RandomForestRegressor(random_state=0)
rf_tree.fit(X_train_std,y_train)
rf_tree_y_pred = rf_tree.predict(X_train_std)

In [30]:
from sklearn.metrics import r2_score

In [31]:
print("R squared: {}".format(r2_score(y_true=y_train,y_pred=rf_tree_y_pred)))

R squared: 0.958017757789362